@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  width: 100%;
  height: 100vh;
  background: #000;
  color: #000;
  font-family: 'Orbitron', sans-serif;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(to right, #fbd3e9, #bb377d);
}

* {
  padding: 0;
  margin: 0;
}

#clock {
  font-size: 5.3rem;
}


#day {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: linear-gradient(to right, #4568dc, #b06ab3);
}

button:active {
  width: 95px;
  height: 95px;
}

img {
  width: 80px;
}

button:focus {
  outline: none;
}

video {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}